@charset "UTF-8";

body {
	margin:0px;
	background-color: #272727;
}


#container_dc {
	border: 1px solid black;
	 box-sizing: border-box;
	 overflow: hidden;
	 padding: 0px;
	 margin: 50px;
	 background-color: black;
}

.fullsize {
position: absolute;
width: 300px;
height: 250px;
}


#content_dc {
	 overflow: hidden;
	 width:100%;
	 width:100%;
}


#text_1_1 {
	background-image: url('text_1_1.png');
}
#text_1_2 {
	background-image: url('text_1_2.png');
}
#text_1_3 {
	background-image: url('text_1_3.png');
}
#text_2_1 {
	background-image: url('text_2_1.png');
}
#text_2_2 {
	background-image: url('text_2_2.png');
}


#black_panel {
	background-color: black;
}


#img1 {
	background-image: url('img1.jpg');
}

#img2 {
	background-image: url('img2.jpg');
}

#img3 {
	background-image: url('img3.jpg');
}


#background_exit_dc {
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
	z-index: 400;
}


#YT_Logo {
    position: absolute;
}

#YTMusicText_Container {
    position: absolute;
    top: 29px;
    left: 50px;
    width: 230px;
    height: 36px;
    overflow: hidden;
}

#YTMusicText {
	position: absolute;
	top:0px;
	left:30px;
	width: 198px;
	height:inherit;
	background-image: url('YTMusic.svg');
	background-repeat: no-repeat;
}

#YT_Icon {
	position: absolute;
    top: 20px;
    left: 20px;
    width: 54px;
    height: 54px;
}
