@import '_settings';
@import '_config';

body {
    margin: 0;
    padding: 0;
}

#mainContent {
    position: relative;
    overflow: hidden;
    width: $width;
    height: $height;
    cursor: pointer;
    transform: rotate(0deg);
    border: 1px solid $black;
    background: $white ;
    
    background-size:cover;
    div,img{
        position: absolute;
    }
}
#circle,#star,#word,#map{
    visibility: hidden;
}